<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="loggedInHeader">
    <header>
        <ul class="header_cart">
            <li class="padding"><a href="#">お気に入り</a>|</li>
            <li><a href="#">カート</a></li>
        </ul>
        <form class="form_position">
            <input type="text" class="text"><button>検索</button>
        </form>
        <ul class="menu" id="menu">
 
		  <!-- メニューボタン
		   ここにマウスを乗せると下のコンテンツが表示される -->
		  <li class="menu_list">
		    <a href="#">TOP</a>
		 
		    <!-- メガメニュー
		     一旦非表示にし、マウスを乗せたボタンに連動したコンテンツのみ表示 -->
		    
		  </li>
		 
		  <li class="menu_list">
		    <a href="#">WOMEN</a>
		    <div class="menu_contents flex">
		      <ul>
		        <li><a href="#">WOMEN TOP</a></li>
		        <li><a href="#">アウター</a></li>
		        <li><a href="#">トップス</a></li>
		        <li><a href="#">パンツ</a></li>
		        <li><a href="#">スカート</a></li>
		        <li><a href="#">ワンピース</a></li>
		        <li><a href="#">インナー・下着</a></li>
		        <li><a href="#">グッズ</a></li>
		      </ul>
		      <ul>
		        <li><a href="#">ログアウト</a></li>
		        <li><a href="#">店舗検索</a></li>
		        <li><a href="#">新作商品</a></li>
		        <li><a href="#">期間限定価格</a></li>
		        <li><a href="#">値下げ商品</a></li>
		        <li><a href="#">ランキング</a></li>
		        <li><a href="#">オリジナルTシャツ</a></li>
		      </ul>
		    </div>
		  </li>
		 
		  <li class="menu_list">
		    <a href="#">MEN</a>
		    <div class="menu_contents flex">
		      <ul>
		        <li><a href="#">MEN TOP</a></li>
		        <li><a href="#">アウター</a></li>
		        <li><a href="#">トップス</a></li>
		        <li><a href="#">パンツ</a></li>
		        <li><a href="#">インナー・下着</a></li>
		        <li><a href="#">グッズ</a></li>
		      </ul>
		      <ul>
		        <li><a href="#">ログアウト</a></li>
		        <li><a href="#">店舗検索</a></li>
		        <li><a href="#">新作商品</a></li>
		        <li><a href="#">期間限定価格</a></li>
		        <li><a href="#">値下げ商品</a></li>
		        <li><a href="#">ランキング</a></li>
		        <li><a href="#">オリジナルTシャツ</a></li>
		      </ul>
		    </div>
		  </li>
		  
		    <li class="menu_list">
		    <a href="#">KIDS</a>
		    <div class="menu_contents flex">
		      <ul>
		        <li><a href="#">WOMEN TOP</a></li>
		        <li><a href="#">アウター</a></li>
		        <li><a href="#">トップス</a></li>
		        <li><a href="#">パンツ</a></li>
		        <li><a href="#">スカート</a></li>
		        <li><a href="#">ワンピース</a></li>
		        <li><a href="#">インナー・下着</a></li>
		        <li><a href="#">グッズ</a></li>
		      </ul>
		      <ul>
		        <li><a href="#">ログアウト</a></li>
		        <li><a href="#">店舗検索</a></li>
		        <li><a href="#">新作商品</a></li>
		        <li><a href="#">期間限定価格</a></li>
		        <li><a href="#">値下げ商品</a></li>
		        <li><a href="#">ランキング</a></li>
		        <li><a href="#">オリジナルTシャツ</a></li>
		      </ul>
		    </div>
		  </li>
		 
		</ul>
        
        </div>

    </header>
</div>
 
<div th:fragment="notLoggedInHeader">
    <header>
        <ul class="header_nav">
            <li>
            <a href="/users/sign_up">
                サインアップ
            </a>
        </li>
        <li>
            <a href="/users/login">
                ログイン
            </a>
        </li>
        </ul>
        
        <ul class="menu" id="menu">
 
		  <!-- メニューボタン
		   ここにマウスを乗せると下のコンテンツが表示される -->
		  <li class="menu_list">
		    <a href="#">TOP</a>
		 
		    <!-- メガメニュー
		     一旦非表示にし、マウスを乗せたボタンに連動したコンテンツのみ表示 -->
		    
		  </li>
		 
		  <li class="menu_list">
		    <a href="#">WOMEN</a>
		    <div class="menu_contents flex">
		      <ul>
		        <li><a href="#">WOMEN TOP</a></li>
		        <li><a href="#">アウター</a></li>
		        <li><a href="#">トップス</a></li>
		        <li><a href="#">パンツ</a></li>
		        <li><a href="#">スカート</a></li>
		        <li><a href="#">ワンピース</a></li>
		        <li><a href="#">インナー・下着</a></li>
		        <li><a href="#">グッズ</a></li>
		      </ul>
		      <ul>
		        <li><a href="#">ログアウト</a></li>
		        <li><a href="#">店舗検索</a></li>
		        <li><a href="#">新作商品</a></li>
		        <li><a href="#">期間限定価格</a></li>
		        <li><a href="#">値下げ商品</a></li>
		        <li><a href="#">ランキング</a></li>
		        <li><a href="#">オリジナルTシャツ</a></li>
		      </ul>
		    </div>
		  </li>
		 
		  <li class="menu_list">
		    <a href="#">MEN</a>
		    <div class="menu_contents flex">
		      <ul>
		        <li><a href="#">MEN TOP</a></li>
		        <li><a href="#">アウター</a></li>
		        <li><a href="#">トップス</a></li>
		        <li><a href="#">パンツ</a></li>
		        <li><a href="#">インナー・下着</a></li>
		        <li><a href="#">グッズ</a></li>
		      </ul>
		      <ul>
		        <li><a href="#">ログアウト</a></li>
		        <li><a href="#">店舗検索</a></li>
		        <li><a href="#">新作商品</a></li>
		        <li><a href="#">期間限定価格</a></li>
		        <li><a href="#">値下げ商品</a></li>
		        <li><a href="#">ランキング</a></li>
		        <li><a href="#">オリジナルTシャツ</a></li>
		      </ul>
		    </div>
		  </li>
		  
		    <li class="menu_list">
		    <a href="#">KIDS</a>
		    <div class="menu_contents flex">
		      <ul>
		        <li><a href="#">WOMEN TOP</a></li>
		        <li><a href="#">アウター</a></li>
		        <li><a href="#">トップス</a></li>
		        <li><a href="#">パンツ</a></li>
		        <li><a href="#">スカート</a></li>
		        <li><a href="#">ワンピース</a></li>
		        <li><a href="#">インナー・下着</a></li>
		        <li><a href="#">グッズ</a></li>
		      </ul>
		      <ul>
		        <li><a href="#">ログアウト</a></li>
		        <li><a href="#">店舗検索</a></li>
		        <li><a href="#">新作商品</a></li>
		        <li><a href="#">期間限定価格</a></li>
		        <li><a href="#">値下げ商品</a></li>
		        <li><a href="#">ランキング</a></li>
		        <li><a href="#">オリジナルTシャツ</a></li>
		      </ul>
		    </div>
		  </li>
		 
		</ul>
        
    </header>
</div>
 
</html>