<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 
<div th:fragment="loggedInHeader">
    <header>
        <ul class="header_cart">
            <li class="padding"><a href="#">お気に入り</a>|</li>
            <li><a href="#">カート</a></li>
        </ul>
        <form class="form_position">
            <input type="text" class="text"><button>検索</button>
        </form>
        <ul class="nav">
            <li class="has-sub">TOP</li>
            <li class="has-sub">
                <a href="#" class="menu">WOMEN</a>
                <div class="sub">
                    <ul class="flex">
                        <li><a href"">アウター</a></li>
                        <li><a href="">新規会員登録・ログイン</a></li>
                    </ul>
                    <ul class="flex">
                        <li><a href"">トップス</a></li>
                        <li><a href="">店舗検索</a></li>
                    </ul>
                    <ul class="flex">
                        <li><a href"">パンツ</a></li>
                        <li><a href=""></a></li>
                    </ul>
                    <ul class="flex">
                        <li><a href"">スカート</a></li>
                        <li><a href="">新作商品</a></li>
                    </ul>
                    <ul class="flex">
                        <li><a href"">ワンピース</a></li>
                        <li><a href="">期間限定価格</a></li>
                    </ul>
                    <ul class="flex">
                        <li><a href"">インナー・下着</a></li>
                        <li><a href="">値下げ商品</a></li>
                    </ul>
                    <ul class="flex">
                        <li><a href"">グッズ</a></li>
                        <li><a href="">ランキング</a></li>
                    </ul>
                    <ul class="flex">
                        <li><a href""></a></li>
                        <li><a href="">オリジナルTシャツ</a></li>
                    </ul>
                </div>
            </li>
            <li class="has-sub">
                <a href="#" class="menu">MEN</a>
                <div class="sub">
                    <ul class="flex">
                        <li><a href"">アウター</a></li>
                        <li><a href="">新規会員登録・ログイン</a></li>
                    </ul>
                    <ul class="flex">
                        <li><a href"">トップス</a></li>
                        <li><a href="">店舗検索</a></li>
                    </ul>
                    <ul class="flex">
                        <li><a href"">パンツ</a></li>
                        <li><a href=""></a></li>
                    </ul>
                    <ul class="flex">
                        <li><a href"">スカート</a></li>
                        <li><a href="">新作商品</a></li>
                    </ul>
                    <ul class="flex">
                        <li><a href"">ワンピース</a></li>
                        <li><a href="">期間限定価格</a></li>
                    </ul>
                    <ul class="flex">
                        <li><a href"">インナー・下着</a></li>
                        <li><a href="">値下げ商品</a></li>
                    </ul>
                    <ul class="flex">
                        <li><a href"">グッズ</a></li>
                        <li><a href="">ランキング</a></li>
                    </ul>
                    <ul class="flex">
                        <li><a href""></a></li>
                        <li><a href="">オリジナルTシャツ</a></li>
                    </ul>
                </div>
            </li>
            <li class="has-sub">KIDS</li>
        </ul>
        </div>

    </header>
</div>
 
<div th:fragment="notLoggedInHeader">
    <header>
        <ul class="header_nav">
            <li>
            <a href="/users/sign_up">
                サインアップ
            </a>
        </li>
        <li>
            <a href="/users/login">
                ログイン
            </a>
        </li>
        </ul>
    </header>
</div>
 
</html>