body{
    margin:0;
}

.carousel-photo-upper{
	height:100%;
    width:100%;
}

.carousel-photo-upper img{
	height:100%;
    width:100%;
}

.carousel-photo-beneath img{
	height:100%;
    width:100%;
}

.slick-slide{
    height:auto;
}

.carousel-photo-upper .slick-dots li button:before{
    font-size:15px;
}

.carousel-photo-beneath .slick-dots li button:before{
    font-size:15px;
}

.carousel-photo-upper .slick-dots{
    z-index:10;
    bottom:20px;
}

.carousel-photo-beneath .slick-dots{
    z-index:10;
    bottom:20px;
}
